
#chart{
	display: block;
	margin: 0 auto;
	width: 250px;
	height: 400px;
}

#chart rect{
	/*
	display: inline-block;
	background-color: steelblue;
	margin: 0 20px;
	*/
	fill: steelblue;
}
.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #bbb;
  shape-rendering: crispEdges;
}
